@charset "UTF-8";
@import './functions.scss';
@import './_var.scss';

.feature-area {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 40px;

    .feature__container {}

    .feature__content {
        display: flex;
        align-items: center;

        .left-block {
            width: 100%;
            max-width: 40%;
            padding: 20px;
        }

        .right-block {}

        &.reverse {
            flex-direction: row-reverse;
        }
    }

    .feature__heading {
        color: #fff;
        font-size: 30px;
    }

    .feature__text {
        color: rgba(#fff, .7);
        margin-top: 20px;
    }

}