@charset "UTF-8";
@import './functions.scss';
@import './_var.scss';


.news {
    .news__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news__heading {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .news__box {
        width: 100%;
        max-width: calc(50% - 5px);
        background-color: rgba(0, 0, 0, .6);
        padding: 20px;
        margin-bottom: 10px;
        position: relative;

        &::after,
        &::before {
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
        }

        &::after {
            top: 0;
            right: 0;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }

        &::before {
            bottom: 0;
            left: 0;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
        }
    }

    .news-text {
        color: #fff;
        font-weight: 500;
        line-height: 1.3;
    }

    .news__title {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .news__date,
    .news__author {
        font-size: 14px;
        color: rgba(#fff, .6);
    }

    .news__content {
        margin-top: 10px;
    }
}